# Transaction Monitoring Task

## 1. Importing the packages and the dataset

In [13]:
import pandas as pd
import numpy as np
import openpyxl

In [14]:
df = pd.read_excel('Data for assignment.xlsx', sheet_name='after_all_missing_new')

In [15]:
df

        customer_id credit_debit  amount CPCC product_type
0              7972       Credit  4763.0   FI           A1
1              2735       Credit  5713.0   DK           A3
2              9534        Debit  6072.0   FI           A3
3              3091       Credit  6297.0   DK           A2
4              5547       Credit  5574.0   FI           A2
...             ...          ...     ...  ...          ...
160686         7503        Debit  5570.0   FI           A1
160687         9539       Credit  4049.0   FI           A2
160688         4175        Debit  4997.0   SE           A2
160689         8500       Credit  1950.0   DK           A2
160690         2877        Debit  4602.0   SE           A3

[160691 rows x 5 columns]

## 2. Segmentation per product type

 First, I will divide customer transactions based on product type

In [16]:
df_wire = df[df['product_type']=='A1']
df_cheque = df[df['product_type']=='A2']
df_cash = df[df['product_type']=='A3']

 Then, I will compare the total number of unique customers to the unique customer per product type.

In [17]:
total_unique_customers = df.customer_id.unique()
wire_unique_customers = df_wire.customer_id.unique()
cheque_unique_customers = df_cheque.customer_id.unique()
cash_unique_customers = df_cash.customer_id.unique()

print(len(total_unique_customers))
print(len(wire_unique_customers))
print(len(cheque_unique_customers))
print(len(cash_unique_customers))

10000
9977
9981
9976

These results show that the majority of customers have made transactions across all product types. As a result, switching between transaction types in the same month does not seem like an unusual activity. 
To double check the previous results, I will also count the number of customers that are present in all the product type dataframes(wire_cheque_cash_customers).

In [18]:
from functools import reduce 

wire_cheque_cash_customers = reduce(np.intersect1d, [df_wire.customer_id, df_cheque.customer_id, df_cash.customer_id])

print(len(wire_cheque_cash_customers))

9934

9934 customers out of 10000 have made transactions across all product types. That confirms that this type of activity seems to be the common case.
But what about those 66 customers that are left out? The fact that they haven't switched between all three transaction types doesn't exclude the possibility of anomalous or suspicious behavior. Maybe some of them only used one type and then suddenly switched to a different one. Let's try to answer this question in the next steps.

First I will define a function to find unique customer ids across all 3 transaction  types.

In [19]:
def find_unique_values (list1, list2, list3):
    list1_or_list2 = set(list1) ^ set(list2) 
    list1_or_list2_and_list3 = set(list1_or_list2).intersection(list3)
    list1_or_list2_or_list3 = set(list1_or_list2) ^ set(list1_or_list2_and_list3)
    return list1_or_list2_or_list3

In [20]:
find_unique_values(wire_unique_customers, cheque_unique_customers,cash_unique_customers)

set()

The function doesn't return any value, so that means that every customer has used at least two transaction methods. Now let's see how many customers have used either  one method or the other one, but never both. We will try all the combinations.

In [21]:
wire_or_cheque = set(wire_unique_customers) ^ set(cheque_unique_customers)

wire_or_cash = set(wire_unique_customers) ^ set(cash_unique_customers)

cheque_or_cash = set(cheque_unique_customers) ^ set(cash_unique_customers)

In [22]:
print(len(wire_or_cheque))
print(len(wire_or_cash))
print(len(cheque_or_cash))

42
47
43

Ok, so now I know that less than 50 customers haven't used at least one transaction method. In the following script, I want to find out which customers have used one transaction type less than 4 times. Why? Because this might be proof of unusual behavior. Let's see what I find out!

In [23]:
wire_or_cheque_df = df[df['customer_id'].isin(wire_or_cheque)]
wire_or_cash_df = df[df['customer_id'].isin(wire_or_cash)]
cheque_or_cash_df = df[df['customer_id'].isin(cheque_or_cash)]

In [120]:
wire_or_cheque_df.groupby('customer_id')['product_type'].value_counts().loc[lambda x : x<4]

customer_id  product_type
1223         A2              2
             A3              2
1374                         1
1467         A1              2
             A3              2
3090                         1
4143                         1
5244                         1
5936         A3              2
8180                         1
8244         A3              2
8816         A2              1
             A3              1
Name: product_type, dtype: int64

In [121]:
wire_or_cash_df.groupby('customer_id')['product_type'].value_counts().loc[lambda x : x<4]

customer_id  product_type
41           A2              2
117                          1
1223         A2              2
             A3              2
1374                         1
1987                         1
3090                         1
3400         A1              3
3692         A1              3
4052                         1
4272         A2              3
4822                         2
4975                         1
5244                         1
5936         A3              2
8643         A1              2
8816         A2              1
             A3              1
Name: product_type, dtype: int64

In [122]:
cheque_or_cash_df.groupby('customer_id')['product_type'].value_counts().loc[lambda x : x<4]

customer_id  product_type
41           A2              2
117                          1
1467         A1              2
             A3              2
1987                         1
3400         A1              3
3692         A1              3
4052                         1
4143                         1
4272         A2              3
4822                         2
4975                         1
8180                         1
8244         A3              2
8643         A1              2
Name: product_type, dtype: int64

Since there are not too many results, I will manually insert the unique values into a list. This will be useful in the following steps.

In [123]:
less_than_four_trans = [1223, 1467, 5936, 8244, 8816, 41, 3400, 3692, 4272, 8643]

After checking closely the transaction history for each one of these ids, the majority of these customers show a similar pattern: a relative high number of transaction per product type and then an unusual switch to a different form of payment.

## 3. Segmentation per countries

Now I will do customer segmentation based on countries and see if I can detect some unusual trends in this area. I want to find how many customers made only one transaction in one country and more than 10 in another one. Why? This could be a signal for anomalous transactional behavior (for example, a person might be receiving constant amounts of money from one country and then transferring it to a different one).

In [46]:
one_trans_per_country = df.groupby('customer_id')['CPCC'].value_counts().loc[lambda x : x<2]
one_trans_per_country = one_trans_per_country.to_frame()
one_trans_per_country = one_trans_per_country.reset_index(level=0)

In [47]:
tenplus_trans_per_country = df.groupby('customer_id')['CPCC'].value_counts().loc[lambda x : x>10]
tenplus_trans_per_country = tenplus_trans_per_country.to_frame()
tenplus_trans_per_country = tenplus_trans_per_country.reset_index(level=0)

In [70]:
one_and_tenplus_trans = reduce(np.intersect1d, [one_trans_per_country.customer_id, tenplus_trans_per_country.customer_id])
one_and_tenplus_trans

array([ 159,  304,  308,  478,  515,  541,  627,  696,  771,  882, 1280,
       1285, 1470, 1495, 1502, 1503, 1649, 1711, 1785, 2102, 2399, 3041,
       3053, 3100, 3359, 3487, 3532, 3762, 4188, 4316, 4327, 4423, 4463,
       4779, 4823, 5042, 5126, 5173, 5568, 5616, 5783, 6013, 6189, 6212,
       6540, 6621, 7060, 7080, 7135, 7221, 7377, 7395, 8096, 8157, 8252,
       8403, 9286, 9397])

These are the ids of people who, during one month, made more than 10 transactions to the same country, and then, made one single transaction to a different one.

## 4. Segmentation per credit/debit

What about credit and debit? This column might give us some interesting insights as well. In the following script, I will go through these steps:

- Group customers that only made only 1 credit or debit transaction per country.
- Group customers that made more than 10 credit or debit transactions per country.
- Find out if there are any customers who made only 1 debit transaction to one country, but more than 10 credit transactions to a different one (and viceversa)
- Find out if any of the results match with any of the results from country segmentation.
- Find out if any of the results match with any of the results from product type segmentation.

This is to find out if for example, any customer received constant amounts of money from one country (more than 10 debit transactions) and then sent it to another country through one single movement (1 credit transaction).

In [105]:
df_credit = df[df['credit_debit']== 'Credit']
df_debit = df[df['credit_debit']== 'Debit']

one_cd_per_country = df_credit.groupby('customer_id')['CPCC'].value_counts().loc[lambda x : x<2]
one_cd_per_country = one_cd_per_country.to_frame()
one_cd_per_country = one_cd_per_country.reset_index(level=0)


one_db_per_country = df_debit.groupby('customer_id')['CPCC'].value_counts().loc[lambda x : x<2]
one_db_per_country = one_db_per_country.to_frame()
one_db_per_country = one_db_per_country.reset_index(level=0)



tenplus_cd_per_country = df_credit.groupby('customer_id')['CPCC'].value_counts().loc[lambda x : x>10]
tenplus_cd_per_country = tenplus_cd_per_country.to_frame()
tenplus_cd_per_country = tenplus_cd_per_country.reset_index(level=0)



tenplus_db_per_country = df_debit.groupby('customer_id')['CPCC'].value_counts().loc[lambda x : x>10]
tenplus_db_per_country = tenplus_db_per_country.to_frame()
tenplus_db_per_country = tenplus_db_per_country.reset_index(level=0)




one_cd_tenplus_db = reduce(np.intersect1d, [one_cd_per_country.customer_id, tenplus_db_per_country.customer_id])
one_db_tenplus_cd = reduce(np.intersect1d, [one_db_per_country.customer_id, tenplus_cd_per_country.customer_id])

In [106]:
reduce(np.intersect1d, [one_and_tenplus_trans,one_cd_tenplus_db ])

array([], dtype=int64)

In [107]:
reduce(np.intersect1d, [one_and_tenplus_trans,one_db_tenplus_cd ])

array([], dtype=int64)

In [113]:
reduce(np.intersect1d, [one_and_tenplus_trans,tenplus_cd_per_country.customer_id])

array([], dtype=int64)

In [114]:
reduce(np.intersect1d, [one_and_tenplus_trans,tenplus_db_per_country.customer_id])

array([], dtype=int64)

In [127]:
reduce(np.intersect1d, [less_than_four_trans,tenplus_cd_per_country.customer_id])

array([], dtype=int64)

In [128]:
reduce(np.intersect1d, [less_than_four_trans,tenplus_db_per_country.customer_id])

array([], dtype=int64)

The results from the credit/debit don't seem to match with the results from the country segmentation. In another words, among the customers who made more than 10 transactions to one country and only 1 to a different country, there is no one who also happens to have more than 10 credit transactions and only debit transaction (or viceversa).
However, the credit/debit segmentation is not worthless; we can't still try to answer some questions:

- How many customers made many credit transactions and only one debit transaction (or viceversa)?
- Are there any customers who have a high number of transactions per country and also a high number of credit or debit transactions?

In [111]:
one_db_tenplus_cd

array([4905])

In [115]:
one_cd_tenplus_db

array([9986])

In [124]:
reduce(np.intersect1d, [tenplus_trans_per_country.customer_id, tenplus_cd_per_country.customer_id])

array([4905, 5860])

## 5. Segmentation per amount

How many customers made transactions higher than a certain threshold? 
Through the following function, I will isolate the customers that paid or received more than 15 thousand.

In [28]:
def find_high_amount_customer_ids (df,col1, col2):
    
    df_high_amount = df[df[col1]> 15000.0]
    
    return df_high_amount[col2].unique()

In [29]:
find_high_amount_customer_ids(df_wire,'amount','customer_id')

array([ 661, 4109,  793, 1409, 7407, 2845, 1531, 3452, 1519])

In [30]:
find_high_amount_customer_ids(df_cheque,'amount','customer_id')

array([1071, 4078, 4046, 1791, 7134,  699,  509, 1275,  964, 4459, 1411,
       3288,  856])

In [31]:
find_high_amount_customer_ids(df_cash,'amount','customer_id')

array([ 659, 3041,  664,  529,  674,  668, 1828,  570, 7212, 4070])

In [126]:
high_amount_trans = find_high_amount_customer_ids(df,'amount','customer_id')

Now that I have the ids of people who made high amount transactions, I can try to answer more questions: 
- Are there matches between high amount and the results from the other segmentations?

In [129]:
reduce(np.intersect1d, [high_amount_trans,less_than_four_trans ])

array([], dtype=int64)

In [130]:
reduce(np.intersect1d, [high_amount_trans,tenplus_trans_per_country.customer_id])

array([3041])

In [131]:
reduce(np.intersect1d, [high_amount_trans,one_and_tenplus_trans])

array([3041])

In [132]:
reduce(np.intersect1d, [high_amount_trans,one_cd_tenplus_db])

array([], dtype=int64)

In [133]:
reduce(np.intersect1d, [high_amount_trans, tenplus_cd_per_country.customer_id])

array([], dtype=int64)

In [134]:
reduce(np.intersect1d, [high_amount_trans, tenplus_db_per_country.customer_id])

array([], dtype=int64)

Only one match was found: the customer id 3041 made a high amount transaction and also made one transaction with one country plus more than 10 with a different one.

Another helpful metric can be to identify which customers have done a really high number of monthly transactions. This would also count as unusual transactional behavior.

In [138]:
df['customer_id'].value_counts().loc[lambda x : x>10]

5860    1123
695       29
895       28
899       28
581       28
        ...
8623      11
9224      11
9073      11
7694      11
4826      11
Name: customer_id, Length: 9861, dtype: int64

Out of 10000 customers, nearly all of them (9861) have made more than 10 transactions. This doesn't seem anomalous. Let's heighten the threshold to 25.

In [158]:
df['customer_id'].value_counts().loc[lambda x : x>25]

5860    1123
695       29
895       28
899       28
581       28
866       27
923       27
682       27
933       27
635       27
563       27
943       27
538       26
643       26
883       26
4070      26
514       26
534       26
932       26
981       26
Name: customer_id, dtype: int64

More than 25 transactions per month seems something worth looking into, since only 20 customers fall into this list. While all the others remain in the range between 26 and 29, customer_id 5860 is the only really big outlier, with more than 1000 transactions per month. That is definitely suspicious.

## 6. High risk countries

First, I will import the excel slide with the high risk country information.

In [159]:
df2 = pd.read_excel('Data for assignment.xlsx', sheet_name='country_risk')
df2

    country_abb risk
0            AC    N
1            AD    N
2            AE    N
3            AF    N
4            AG    N
..          ...  ...
259          YE    N
260          YT    Y
261          ZA    N
262          ZM    N
263          ZW    N

[264 rows x 2 columns]

After this, I will find out which are the high risk countries, create a list with these countries and then subset all the corresponding rows from the original dataset.

In [169]:
risk_countries = df2[df2['risk']== 'Y'].country_abb.array
df_risk_countries = df[df['CPCC'].isin(risk_countries)]
df_risk_countries

        customer_id credit_debit  amount CPCC product_type
99              640        Debit  2211.0   YT           A1
119            1351       Credit  7318.0   PF           A2
132            1894       Credit  3232.0   YT           A2
166             916        Debit   607.0   TL           A2
215            1180       Credit  2125.0   HE           A2
...             ...          ...     ...  ...          ...
160567          625       Credit  8167.0   IS           A3
160585         1991        Debit  1819.0   HE           A2
160589         1998        Debit  7436.0   IS           A1
160607          581       Credit   742.0   PF           A2
160663         3787       Credit  1478.0   RO           A2

[3352 rows x 5 columns]

Now I can define a monthly transaction threshold and see which customers would trigger a warning.

In [166]:
monthly_trans_threshold = 10000.0
trans_over_thresh = df_risk_countries[df_risk_countries['amount']>= monthly_trans_threshold]
trans_over_thresh.customer_id.unique()

array([ 659, 1746, 1520, 1626, 1493, 1058, 1761, 1808, 1289, 1696, 1964,
       1329, 1064,  588, 1067, 1409, 1365, 1402, 1627, 1577, 1589,  918,
        824, 1161, 1430,  609, 1117, 1549,  600, 1789,  570, 1377, 1226,
       1173, 1672, 1175, 1921, 1250, 1877,  534, 1071,  691, 1434, 1999,
       1339, 1667, 1719, 1521, 1782,  689, 1468, 1225, 1972, 1183, 1248,
       1821, 1608, 1284, 1509,  643,  695, 1894,  892, 1918,  647,  803,
       1314, 1777, 1454, 1896, 1174,  806, 1662,  572,  580, 1232, 1315,
       1749, 1823, 1815, 1612,  631, 1412,  665, 1988, 1827,  694,  648,
       1881,  542, 1096, 1291,  802,  611,  879, 1552, 1163,  962, 1006,
        622,  874, 1048, 1295, 1361, 1712,  947,  838, 2845, 1660, 1393,
       1864,  668, 1900, 1322,  540, 1581,  850, 1978,  558, 1837,  598,
       1767, 1701, 1559, 1041,  561, 1033, 1757, 1009, 1149, 1922, 1119,
       1868, 1915, 1357, 1395, 1555,  590,  866,  500, 1825, 1210, 1479,
       1828, 1171,  678, 1396, 1791, 1436, 1255, 1081, 1531, 1170, 1389,
        683, 1993, 1074, 1673,  601, 1012, 1139,  624,  576, 1554,  804,
        677, 1958,  841, 1543,  872, 1386,  699, 1423,  525,  686,  509,
       1275, 1753, 1945,  644, 1806, 1787, 1729, 1407,  585, 1651, 1308,
       1156, 1817, 1032, 1060,  531, 1676,  612,  682, 1700,  933,  827,
        664, 1024, 1205, 1301,  633, 1680,  537, 1421, 1411, 1501, 1681,
       1792, 1216, 1450,  981, 1417, 1732, 1370,  675,  511, 1963, 1179,
       1265, 1570, 1775, 1312, 1536, 1708, 1425,  987, 1850, 1858, 1960,
        650, 1107,  696, 1128,  618,  673,  893, 1857,  594, 1387, 1306,
       1269,  645, 1324, 1360, 1923, 1611,  698,  821,  932, 1630, 1980,
        920, 1464,  641, 1774,  906, 1372])